<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.chunyue.project.dao.UserDao">

    <!--<cache></cache>-->
    <sql id="BASE_TABLE">
       SignIn
    </sql>

    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.chunyue.project.model.User">
        insert into
        <include refid="BASE_TABLE"/>
        (uid,password,role)
        values
        (#{uid},#{password},#{role})
    </insert>

</mapper>
